<div id="post__share">

  <a id="icon-qqzone" class="fontello" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{site.author.github}}{{ site.url }}{{ page.url }}&showcount=0&desc=&summary=&title={{ page.title }}--{{site.title}}&site=&pics=&style=201&width=39&height=39&otype=share" target="_blank">
  <a id="icon-cc" class="fontello" href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank"></a>
  <a id="icon-weibo" class="fontello" href="http://v.t.sina.com.cn/share/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"></a>
  
  </a>
</div> <!-- end #post__share -->